{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      },
      "modules": false
    }],
    "flow"
  ],
  "env": {
    "development": {
      "plugins": ["external-helpers"]
    },
    "production": {
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current",
            "modules": true
          }
        }],
        "flow",
        "@ava/transform-test-files"
      ],
      "plugins": ["transform-runtime"]
    }
  }
}
