$mdc-theme-primary: #212121;
$mdc-theme-secondary: #607d8b;
$mdc-theme-background: #fff;

// Override the mdc typography styles

$mdc-typography-font-family: 'Open Sans', sans-serif;

$mdc-typography-font-weight-values: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 600,
    black: 900
  )
  !default;

/* TODO(sgomes): Figure out what to do about desktop font sizes. */
/* TODO(sgomes): Figure out what to do about i18n and i18n font sizes. */
$mdc-typography-styles: (
  display4:
    (
      font-size: 7rem,
      line-height: 7rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: -0.04em,
      margin: -1rem 0 3.5rem -0.085em
    ),
  display3:
    (
      font-size: 3.5rem,
      line-height: 3.5rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: -0.02em,
      margin: -8px 0 64px -0.07em
    ),
  display2:
    (
      font-size: 2.813rem,
      line-height: 3rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: normal,
      margin: -0.5rem 0 4rem -0.07em
    ),
  display1:
    (
      font-size: 2.125rem,
      line-height: 2.5rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: normal,
      margin: -0.5rem 0 4rem -0.07em
    ),
  headline:
    (
      font-size: 1.5rem,
      line-height: 2rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: normal,
      margin: -0.5rem 0 1rem -0.06em
    ),
  title:
    (
      font-size: 1.25rem,
      line-height: 2rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: 0.02em,
      margin: -0.5rem 0 1rem -0.05em
    ),
  subheading2:
    (
      font-size: 1rem,
      line-height: 1.75rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: 0.02em,
      margin: -0.5rem 0 1rem -0.06em
    ),
  subheading1:
    (
      font-size: 0.938rem,
      line-height: 1.5rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: 0.02em,
      margin: -0.313rem 0 0.813rem -0.06em
    ),
  body2:
    (
      font-size: 0.875rem,
      line-height: 1.5rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: 0,
      margin: -0.25rem 0 0.75rem 0
    ),
  body1:
    (
      font-size: 0.875rem,
      line-height: 1.25rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: 0,
      margin: -0.25rem 0 0.75rem 0
    ),
  caption:
    (
      font-size: 0.75rem,
      line-height: 1.25rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: 0.08em,
      margin: -0.5rem 0 1rem -0.04em
    ),
  button:
    (
      font-size: 0.875rem,
      line-height: 2.25rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: 0.04em,
      margin: inherit,
      text-decoration: none,
      text-transform: uppercase
    )
);
