@import './mdc-variables';
@import '@material/list/mdc-list';

.mdc-list-item.mdc-ripple-upgraded {
  // HACK the global border-sizing breaks the sizing of the list items, so restore the
  // original value
  box-sizing: initial;
}

.mdc-list-group {
  width: 100%;
}

.mdc-list--separated {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  .mdc-list-item {
    padding: 0 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mdc-list-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.mdc-list--actionable .mdc-list-item--ripple {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.mdc-list--multiline > .mdc-list-item {
  height: auto;
  align-items: flex-start;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
