body {
  font-family: Muli,Monospace;
  color: #37474F;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.bg {
  margin: 0;
  height: 100vh;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ecf0f1, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ecf0f1, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
